*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100%;
  background-color: rgb(218, 19, 50);
}
.header{
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
.pokedex-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.search-box, .returned-info {
  display: flex;
  justify-content: center;

}
ul li { 
  display:block;
}
p {
  margin: 0;
  display:inline;
 }
 
.pokemon-name {
  text-transform: uppercase;
}
.hide {
  display: none
}
